<!DOCTYPE html>
<html lang="en" ng-app="whisperApp" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <title>Google Phone Gallery</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://rawgithub.com/angular-ui/ui-layout/v1.0.5/ui-layout.css"/>

    <script th:src="@{/vendor/lodash/lodash.js}"></script>
    <script th:src="@{/vendor/momentjs/moment.js}"></script>

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script th:src="@{/vendor/cryptico/cryptico.js}"></script>

    <script th:src="@{/vendor/forge/forge.bundle.js}"></script>

    <script src="//cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
    <script th:src="@{/vendor/stomp/stomp.min.js}"></script>


    <style>
        html, body
        {
            height: 100%;
        }

        .tab-pane{
            height:100%
        }

        .tab-content{
            height:calc(100% - 50px);
        }

    </style>



</head>

<body ng-view="">



<script th:src="@{/vendor/angular/angular.js}"></script>
<script th:src="@{/vendor/angular/angular-route.js}"></script>
<script th:src="@{/vendor/angular/ui-bootstrap-tpls-0.12.0.min.js}"></script>
<script th:src="@{/vendor/scrollglue/scrollglue.js}"></script>
<script th:src="@{/vendor/layout/ui-layout.js}"></script>

<script th:src="@{/app/controller.js}"></script>
<script th:src="@{/app/StompService.js}"></script>
<script th:src="@{/app/UserService.js}"></script>
<script th:src="@{/app/ChannelService.js}"></script>
<script th:src="@{/app/LoginCtrl.js}"></script>
<script th:src="@{/app/ChannelCtrl.js}"></script>


</body>

</html>